._*
thumbs.db
.DS_*
.ds_*
node_modules/
__tests__/
.eslintrc.json
.gitattributes
.gitignore
.vscode
api.md
babel.config.js
package-lock.json
pnpm-lock.yaml
README.md
renovate.json
rollup.config.js
tsconfig.json
.github
src
.editorconfig
cypress